# Dependencies
/vendor/
node_modules/

# Environment files
.env
.env.backup
.env.production

# Logs
*.log
npm-debug.log
yarn-error.log

# Laravel
/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot
/storage/*.key
/storage/pail
bootstrap/compiled.php
app/storage/

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE / Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Authentication
/auth.json

# Homestead / Vagrant
Homestead.json
Homestead.yaml
/.vagrant

# OS
.DS_Store
Thumbs.db
